* {
    margin: 0px;
    padding: 0;
}

:root {
    --headerBgColor: #000000;
    --headerTxtColor: #f0f0f0;

    --breadcrumbBgColor: #292828;
    --breadcrumbTxtColor: #f0f0f0;

    --searchHeaderBg: #f0f0f0;

    --bgColorHome: #000000;
    --txtColorHome: #f0f0f0;
    --bgColor: #f0f0f0;
    --txtColor: #000000;

    --footerTitleColor: #f0f0f0;
    --footerBgColor: #292828;
    --footerTxtColor: #ffffff;

    --linkColor: #0294b9;
    --visitedLinkColor: #FF0000;

    --font-body_family: "Century Gothic", sans-serif;
}

html {
    font-size: 100%;
    font-family: var(--font-body_family);
    line-height: 1.5em;
    margin: auto;
    font-size: 20px;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
}

html::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

header {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    /*oppure space-between*/
    align-items: center;
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    /* per schermi troppo grandi */
    max-width: 1024px;
    padding: 1em;
    margin: auto;

}

header h1 {
    text-indent: -999em;
    background-image: url("./images/logo1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width: 200px;
    height: 100px;

}

nav {
    color: var(--headerTxtColor);
}

a:link {
    color: var(--linkColor);
}

a:visited {
    color: var(--visitedLinkColor);
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    margin: 0 1em;
    display: inline-block;
}

#breadcrumb {
    background-color: var(--breadcrumbBgColor);
    color:var(--headerTxtColor);
    max-width: 1024px;
    padding: 1em;
    margin: auto;
}

#searchHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--searchHeaderBg);
    max-width: 1024px;
    padding: 1em;
    margin: auto;
}

#search-bar {
    margin-right: 1em;
    border: none;
}

#search-bar input {
    height: 1em;
    width: 23em;
    padding: 1em;
}

#search-bar button {
    padding: 1em;
    background-color: var(--visitedLinkColor);
    color: var(--headerTxtColor);
}

#film-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 2em;
    text-align: center;
    color: var(--txtColorHome);
    background-color: var(--bgColorHome);
    max-width: 1024px;
    padding: 1em;
    margin: auto;
}

.film-image {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.film-image:hover {
    transform: scale(0.9); /* Ingrandisce l'elemento del 10% al passaggio del mouse */
  }

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    max-width: 1024px;
    padding: 1em;
    margin: auto;
}

/* Stile per ciascuna colonna nel footer */
footer>div {
    flex: 1;
    padding: 1em 2em;
    text-align: center;
}

footer .footer-title {
    font-size: 25px;
    font-weight: bold;
    color: var(--footerTitleColor);
    margin-bottom: 1em;
}

footer ul {
    list-style-type: none;
}

footer li {
    margin-bottom: 1em;
}

.bold-text{
    font-weight: bold;
    color: var(--txtColor);
    font-size: 22px;
}

/*Template_film*/
#film-informazioni-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--bgColor);
    color: var(--txtColor);
    align-items: center;
    max-width: 1024px;
    padding: 1em;
    margin: auto;  
}

#film-dettagli h1 {
    padding: 0.2em;
    background-color: var(--visitedLinkColor); 
    color: var(--bgColor); 
    text-align: center; 
    text-transform: uppercase; 
    border-radius: 8px;  
    line-height: 1; /*L'ho aggiunto perche' se titolo troppo lungo*/
}

#film-locandina img {
    min-width: 60%;
    padding: 1em;
    margin: auto;  
}

#film-dettagli {
    max-width: 70%;
}

.orari-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;  
    border: 1px solid var(--txtColor);
    border-radius: 8px;
    padding: 1em; 
    margin: auto;
}

.film-data {
    padding: 0.4em;
    font-weight: bold;
    color: var(--txtColor);
    font-size: 22px;
}

.film-ora {
    padding: 0.4em;
    font-weight: bold;
    color: var(--txtColor);
    font-size: 22px;
}

/*Errore film*/
#film-non-esiste {
    display: flex;
    align-items: center; 
    flex-direction: column; 
    background-color: var(--bgColor);
    color: var(--txtColor);
    text-align: center;
    padding: 1em;
}

#immagine-errore-film {
    width: 200px; /* Imposta la larghezza dell'immagine */
    height: 200px; /* Imposta l'altezza dell'immagine */
    background-image: url("./images/error-film.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;  
}

#film-non-esiste p {
    margin: 1em; 
    font-size: 25px;
    color: var(--txtColor);
}

#film-name-error{
    color: var(--visitedLinkColor); 
    font-weight: bold; 
    font-size: 30px; 
    background-color: var(--bgColor); 
    padding: 0.3em; 
    border-radius: 5px;

}

/*altri orari*/
#locandina-title {
    display: flex;
    align-items: center; 
    justify-content: left;
}

#locandina-title img {
    margin: 0.5em; 
    width: 12%;
}

#film-orari-container {
    background-color: var(--bgColor);
    color: var(--txtColor);
    max-width: 1024px;
    padding: 1em;
    margin: auto;
}

#data-ora{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}

#data-ora ul {
    list-style-type: none;
}

/*posti*/
#film-posti{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgColor);     
    color: var(--txtColor);
    text-align: center;        
    max-width: 1024px;
    padding: 1em;
    margin: auto;
}

#cinema-screen {
    width: 100px; 
    height: 100px; 
    background-image: url("./images/cinema-screen.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;  
}

/*checkbox*/
/* Stili per i posti selezionabili */
.selezionabile {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.3em; 
}

/* Stili per i posti non selezionabili */
.non-selezionabile {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("./images/checkbox.png"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: 0.4em; 
}

/*500 e 404*/
#error-container {
    width: 80%; 
    margin: 0.4em auto; 
    padding: 20px;  
    background-color: var(--bgColor); 
    color: var(--txtColor);
    text-align: center;  
}

#error-container p {
    margin: 0.6em 0; 
    line-height: 1.6em;  
    color: var(--txtColor); 
    font-size: 25px;  
}

#immagine-errore-500-404 {
    width: 200px; 
    height: 200px; 
    background-image: url("./images/error.png"); 
    background-size: contain;
    background-repeat: no-repeat;
     
}

#imgError-text {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: auto; 
}


