header{
    justify-content: space-between;
}

#menu ul li {
    margin-right: 5px;
}

#search-bar {
    padding: 0.3em;
}

#searchHeader {
    flex-direction: column;
}

footer {
    flex-direction: column;
}

#goToMenu {
    display: inline;
    width: 4em; 
    height: 4em; 
    background-image: url('../images/asset/menu-bottom.png');
    background-size: cover; 
    background-repeat: no-repeat; 
}

#bottomMenu {
    display: block;
    text-align: center;
    background-color: var(--bgColor); 
    font-size: 26px;
    padding: 3em; 
    margin: auto;
}

#bottomMenu ul {
    list-style-type: none;
    padding: 0;
}

#bottomMenu ul li {
    margin-bottom: 3em; 
    color: var(--txtColor);
    font-weight: bold;
}

#menu{
    display: none;
}

/*film template*/
#film-informazioni-container{
    flex-direction: column;
}

#data-ora{
    flex-direction: column;
}

#film-locandina{
    display: none;
}

/* aggiungi film */
#aggiungi-film-form-field{
    flex-direction: column;
}

input{
    width: 10%;
}

.selezionabile {
    width: 0.8em;
    height: 0.8em;

}

/* Stili per i posti non selezionabili */
.non-selezionabile {
    width: 0.8em;
    height: 0.8em;
  
}
