
html{
    font-size: 1.25em!important;
}

header{
    justify-content: space-between;
}

#logo{
    width: 7em;
}

#menu ul li {
    margin-right: 5px;
}

#search-bar {
    padding: 0.3em;
}

#searchHeader {
    flex-direction: column;
}

footer {
    flex-direction: column;
}

/*-------------MENU-----------*/
#goToMenu { /*  */
    display: inline;
    margin-right: 1em;
    width: 5em; 
    height: 5em; 
    background-image: url('../images/menu-bottom.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#bottomMenu {
    display: block;
    text-align: center;
    background-color: var(--BgColor); 
    font-size: 26px;
    padding: 1em;
    margin: auto;
}

#bottomMenu ul {
    list-style-type: none;
    padding: 0;
}

#bottomMenu ul li {
    margin-bottom: 3em; 
    font-weight: bold;
    font-size: 1.25em;
    line-height: 1.3em;
}

#menu{
    display: none;
}

/*-----------film template-----------------*/
#film-informazioni-container{
    flex-direction: column;
}

#data-ora{
    flex-direction: column;
}

#film-locandina{
    display: none;
}

@media (max-width: 30em) {
    #film-container {
      grid-template-columns: 1fr;
    }
}

/* ------locandina sopra selezione posti--------- */
#locandina-title img{
    width: 7em;
    height: auto;
}


/*-------------------*/

#login fieldset, #signin fieldset{
    width: 90%;
    max-width: none;
    padding: 0.5em;
    gap: 0.7em;
}

#login-container p{
    padding: 1em;
}

#aggiunta-film-form fieldset, #aggiunta-proiezione-form fieldset{
    width: 90%;
    max-width: none;
}

#modifica_film_container, #proiezioni_container, #modifica_utente_container{
    max-width: none;
}

#main_recensioni{
    padding: 0.5em;
}

.info{
    padding: 0.5em 1.25em;
}

#modifica_film_container, #proiezioni_container, #modifica_utente_container{
    padding: 0.5em;
}

/* ---------------------- */
#searchHeader{
    gap: 0.25em;
}

#film-dettagli
{
    max-width: 90%;
}
#cinema-screen{
    width: 80%;
}