#bottomMenu, #goToMenu, #search-form , #menu{
    display: none;
}

#breadcrumb {
    color: black;
    padding: 0;
    margin: 0;
}

main {
    margin: 10px;
}

footer {
    padding: 0em;
    margin: 0;
}

footer>div {
    padding: 10px ;
}

footer .footer-title {
    font-size: 20px;
    margin-bottom: 0;
}

/*link*/
a:link::after, a:visited::after{
    content:"[http://www.cinema/"attr(href)"]";
    font-size: 80%;
    word-wrap: break-word;
}

.film-ora a:link::after, a:visited::after{
    content: none;
}

/*Index*/
.film-image {
    max-width: 90%;
}

#film-container {
    grid-template-columns: repeat(auto-fill, 10em);
    justify-content: center; 
}

/*info-film*/
#film-locandina {
display: none;
margin: 0;
}

#film-dettagli {
    max-width: 100%;
}

#data-ora {  
    flex-wrap: nowrap;
}

.orari-container {
   margin: 10px;
    grid-template-columns: repeat(3, 1fr);
}

/*posti*/
#locandina-title img {
    margin:20px;
    max-width: 100px;
    height: auto;
}

#film-posti {
   
    padding: 10px;
    margin:10px;
    max-width: 70%;
    flex-grow: 1;
}

#cinema-screen {
    width: 30%;
    height: 2em;
}

/*recap biglietti*/
#container-recap-biglietti{
    flex-wrap: nowrap;
    padding: 10px;

}

.biglietto-recap{
    padding: 10px;
}


#container-recap-prenotazione p{
    display: none;
}

/*Recensione*/
.recensione{
    width: 100%;
    margin: 20px;
   padding: 0px;
}

/*login*/
#login {
    padding: 10px;

}

/*admin*/
#adminArea {
    padding: 0;
    margin: 0;
}

/*aggiungi-film*/
#aggiungi_film{
    padding: 0;
}

#aggiungi_film select,#aggiungi_film input , #aggiungi_film textarea,#aggiungi_film fieldset{
    width: 100%;
    padding: 5px;
    font-size: medium;
    box-sizing: border-box;
}
#aggiunta-film-form {
    padding: 0px;
    gap: 10px;
}

/*aggiungi proiezione*/
#aggiungi_proiezione{
    padding: 10px;
}

/*elimina proiezioni*/
#modifica_film_container, #proiezioni_container, #modifica_utente_container {
    max-width: 100%;
}

