* {
    margin: 0;
    padding: 0;
}

:root {
    /* HEADER */
    --headerBgColor: #000000;
    --headerTxtColor: #f0f0f0;
    /* BREADCRUMB */
    --breadcrumbBgColor: #292828;
    --breadcrumbTxtColor: #f0f0f0;
    /* SEARCH */
    --searchHeaderBg: #f0f0f0;
    /* LAYOUT */
    --bgColorHome: #000000;
    --txtColorHome: #f0f0f0;
    --mainBgColor: #f0f0f0;
    --txtColor: #000000;
    /* FOOTER */
    --BgColor: #292828;
    --footerTxtColor: #ffffff;
    /* LINK */
    --linkColor: #0294b9;
    --visitedLinkColor: #FF0000;
    /* TABLE */
    --theadBgColor: #c5c5c5;
    --alternativeLine: #dddddd;
    --borderColor: #8b8b8b;
    --hoverColor: #0294b9;
    /* FONT */
    --font-body_family: "Century Gothic", sans-serif;
    /* POSTI */
    --cinema_screen_color: #000000;
    --borderPostoColor: #c4c4c4;
    --postoSelezionatoColor: #48eb32;
    --postoLiberoColor: rgb(255, 255, 255);
    --postoOccupatoColor: rgb(155, 155, 155);
    /* RECENSIONI */
    --bgRecensioni: #dddddd;
    /* AREA */
    --AreaBgColor: #ffffff;
    /* BUTTON */
    --buttonColor: #e50914;
    --buttonTxtColor: #ffffff;
    /* FORM */
    --labelColor :#8c8c8c;
    --formFieldSetColor :#181818;
    --formInputColor : #333333;
    --borderInputColor: #e1e1e1;
    --formInputBgColor: #e9e7dd;
    --formSubmitColor :#e50914;
}

html {
    font-family: var(--font-body_family);
    line-height: 1.5em;
    margin: auto;
    font-size: 1.2em;
    background-color: var(--BgColor);
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* -----------------------BODY---------------------- */
body{
    max-width: 1600px;
    background-color: var(--BgColor);
    color: var(--txtColor);
    margin: auto;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

/* -----------------------HEADER-------------------- */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    margin: auto;
}

#logo{
    width: 9em;
    height: auto; 
}

/* ------------------------NAV---------------------- */
nav {
    color: var(--headerTxtColor);
}

/* ------------------------MAIN--------------------- */
main {
    margin: auto;
    line-height: 1.5;
    background-color: var(--mainBgColor);
    padding-bottom: 1em;
}

/* ------------------FOOTER------------------------ */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--BgColor);
    color: var(--footerTxtColor);
    padding: 1em;
}

/* ------------------TITLE---------------------- */
h1 {
    margin-bottom: 1em;
}

h2 {
    margin-top: 0.7em;
    margin-bottom: 0.2em;
}

h3{
    margin: 1em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/*--------------LINK-------------*/
a:link {
    color: var(--linkColor);
}

a:visited {
    color: var(--visitedLinkColor);
}

/*-------------TABELLE-----------*/
table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    white-space: nowrap;
}

thead {
    background-color: var(--theadBgColor);
    color: var(--txtColor);
}

th, td {
    border: 1px solid var(--borderColor);
    padding: 0.5em;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: var(--alternativeLine);
}

tbody tr:nth-child(odd) {
    background-color: var(--bgColor);
}

.table-container {
    overflow: auto;
}

/*-------------MENU E BREADCRUMB------------*/
#menu ul {
    list-style-type: none;
}

#menu ul li {
    margin: 0 0.6em;
    display: inline-block;
}

#goToMenu {
    display: none;
}

#bottomMenu {
    display: none;
}

#breadcrumb {
    background-color: var(--breadcrumbBgColor);
    color: var(--headerTxtColor);
    padding: 1em;
    margin: auto;
}

/*---------------SEARCHBAR-----------------*/
#searchHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--formInputBgColor);
    padding: 1em;
    margin: auto;
    margin-bottom: 1em;
}

#searchHeader h1{
    margin: 0;
    text-align: center;
}

#search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3em;
    align-items: center;
    justify-content: center;
    width: 60%;
    min-width: fit-content;
    border: none;
}

#search-form input[list] {
    width: 60%;
    min-width: fit-content;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 0.5em 1em;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    font-size: 1em;
}

#search-form input[type="submit"]{
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*------------INDEX-----------------*/
#film-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    gap: 2em;
    text-align: center;
    margin: auto;
}

.film-image {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.film-image:hover {
    transform: scale(0.9);
}

.header-info-film, .header-info-biglietto {
    font-weight: bold;
    font-size: 1.1em;
}

/*---------------------INFO FILM-----------------------*/
#film-informazioni-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    margin: auto;
}

#film-dettagli h1 {
    padding: 0.2em;
    background-color: var(--formInputBgColor);
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    line-height: 1;
    border: 1px solid var(--borderColor);
}

#film-locandina img {
    min-width: 60%;
    padding: 1em;
    margin: auto;
}

#film-dettagli {
    max-width: 70%;
}

.orari-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
    border: 1px solid var(--borderColor);
    background-color: var(--formInputBgColor);
    border-radius: 8px;
    padding: 0.4em;
    margin: auto;
}

.film-data, .film-ora {
    padding: 0.4em;
    font-weight: bold;
    font-size: 1.1em;
}

#data-ora {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;

}

#data-ora ul {
    list-style-type: none;
}


/*------------ERRORI DISPONIBILITA'-------------*/
.div-non-esiste {
    align-items: center;
    text-align: center;
    padding: 1em;
}

.immagine-indisponibilità {
    width: 200px;
    height: 200px;
    background-image: url("../images/error.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

#film-non-esiste{
    margin: auto;
    text-align: center;
}

#film-name-error {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.3em;
    border-radius: 5px;
}

/* ----------locandina nella pagina selezione posti------------- */
#container-pagina-selezione-posti{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
}

#titolo-film-posti{
    font-size: 1.5em;
}

#locandina-title {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 5%;
}

#locandina-title img {
    margin-left: 5%;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    max-width: 10em;
    height: auto;
}

/*----------------POSTI----------------*/
#film-posti {
    text-align: center;
    padding: 1em;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-x: auto !important;
}

#cinema-screen {
    width: 60%;
    height: 8em;
    background-color : var(--cinema_screen_color);
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-bottom: 2em;
    margin-top: 1em;
}

#field-set-posti{
    border: none;
}

#posti-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-bottom: 1em;
    overflow-x: auto !important;
}

.fila-posti{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.1em;
    list-style: none;
    overflow-x: auto !important;
}

.fila-posti li{
    margin: 0.2em;
}

.label-posto, .legenda-item {
    display: inline-block;
    cursor: pointer;
    width: 2em;
    height: 1.8em;
    margin: auto;   
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid var(--borderPostoColor);
}

.label-posto:hover, .label-posto:focus{
    border: 1px solid var(--linkColor);
}

.legenda-item{
    cursor: auto;
}

/* Posto libero */
input[type="checkbox"]:not(:checked) + .label-posto, #libero{
    background-color: var(--postoLiberoColor);
}

/* Posto selezionato */
input[type="checkbox"]:checked + .label-posto, #selezionato {
    background-color: var(--postoSelezionatoColor);
}

/* Posto non disponibile */
input[type="checkbox"]:disabled + .label-posto, #occupato {
    background-color: var(--postoOccupatoColor);
}

.hidden-checkbox {
    position: absolute;
    left: -9999px;
}

#legenda{
    display: grid;
    justify-content: center; 
    margin-bottom: 2em;
}

.legenda-div{
    display: flex;
    align-items: center;
}

.desc-item-legenda, .legenda-item{
    margin: 0.2em;
}

/*-------------------500 e 404---------------------*/
#error-container {
    width: 80%;
    margin: auto;
    padding: 1em;
    text-align: center;
}

#subtitle-error{
    font-size: 1.2em;
    font-weight: bold;
}

#immagine-errore{
    width: 10em;
    height: 10em;
    margin: auto;
    background-image: url("../images/error.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/*-------------LOGIN e SIGNIN--------------------*/
#login-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#login , #signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#login h1 , #signin  h1 {
    font-size: 1.8em;
    margin-bottom: 1em;
}

#login label , #signin label{
    color: var(--formInputColor);
    margin-bottom: 0.3em;
}

#login form , #signin form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 0.7em;
}

#login input , #signin input {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid var(--borderInputColor);
    border-radius: 4px;
    background-color: var(--formInputBgColor);
    color: var(--formInputColor);
    font-size: 1em;
}

#login fieldset , #signin fieldset {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 50%;
    max-width: 400px;
    border-radius: 8px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#signin fieldset .signin-personal-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center; 
    gap: 0.5em;
}

.login-item-container , .signin-item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

#login legend, #signin legend {
    padding: 0.5em;
}

#signin p.signin-error, #signin p.signin-success{
    font-weight: bold;
}

/*------------AREA AMMINISTRATIVA e AREA PERSONALE----------------*/
#adminArea, #UtenteArea {
    padding: 2em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adminArea h1, #UtenteArea h1{
    margin-bottom: 1em;
    font-size: 1.7em;
}

#adminMenu, #UtenteMenu {
    background-color: var(--AreaBgColor);
    border: 1px solid var(--borderColor);
    margin: auto;
    margin-bottom: 1.5em;
    border-radius: 8px;
}

#adminMenu ul, #UtenteMenu ul {
    list-style-type: none;
    padding: 0;
}

#adminMenu ul li, #UtenteMenu ul li {
    margin: 1em;
    text-align: center;
}

#adminMenu ul li a, #UtenteMenu ul li a {
    display: block;
    padding: 1em;
    font-size: 1em;
}

/* -------------------------BUTTON---------------------------*/
#login input[type="submit"], 
#signin input[type="submit"], 
#logoutForm button, 
#aggiungi_proiezione input[type="submit"],
#aggiungi_film input[type="submit"],
#biglietto-recap-form input[type="submit"],
#modifica_film_container input[type="submit"],
#modifica_utente_container input[type="submit"],
#proiezioni_container input[type="submit"],
#prenota-button,
#search-form input[type="submit"],
#invia-recensione-button {    
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 0.5em 1em;
    border: 2px solid var(--buttonColor);
    border-radius: 4px;
    background-color: var(--buttonColor);
    color: var(--buttonTxtColor);
    font-size: 1em;
    width: auto;
}

#login input[type="submit"]:hover, #login input[type="submit"]:focus, 
#signin input[type="submit"]:hover, #signin input[type="submit"]:focus,
#aggiungi_proiezione input[type="submit"]:hover, #aggiungi_proiezione input[type="submit"]:focus,
#aggiungi_film input[type="submit"]:hover, #aggiungi_film input[type="submit"]:focus,
#biglietto-recap-form input[type="submit"]:hover, #biglietto-recap-form input[type="submit"]:focus,
#invia-recensione-button:hover, #invia-recensione-button:focus,
#modifica_film_container input[type="submit"]:hover, #modifica_film_container input[type="submit"]:focus,
#modifica_utente_container input[type="submit"]:hover, #modifica_utente_container input[type="submit"]:focus,
#proiezioni_container input[type="submit"]:hover, #proiezioni_container input[type="submit"]:focus,
#prenota-button:hover, #prenota-button:focus,
#search-form input[type="submit"]:hover, #search-form input[type="submit"]:focus,
#logoutForm button:hover, #logoutForm button:focus{
    border: 2px solid var(--hoverColor);
}

/*---------------------AGGIUNGI PROIEZIONE E AGGIUNGI FILM---------------*/
#aggiungi_proiezione , #aggiungi_film{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
}

#aggiunta-film-form , #aggiunta-proiezione-form {
    display: flex;   
    flex-direction: column;
    width: 100%;
    gap: 2em; 
    flex-wrap: wrap;
}

#aggiungi-film-form-field, #aggiungi-proiezione-form-field{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
} 

#aggiunta-film-form fieldset, #aggiunta-proiezione-form fieldset{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 2em;
    border-radius: 8px;
    gap: 1em;
    width: 80%;
}

#aggiungi_proiezione select, #aggiungi_proiezione input[type="date"], #aggiungi_proiezione input[type="time"], 
#aggiungi_film select, #aggiungi_film input[type="text"], #aggiungi_film input[type="number"], #aggiungi_film input[type="file"], #aggiungi_film textarea{
    width: 100%;
    padding: 1em;
    border: 1xp solid var(--borderColor);
    border-radius: 5px;
    background-color: var(--formInputBgColor);
    font-size: 1em;
    box-sizing: border-box;
}

#aggiunta-film-form label, #aggiunta-proiezione-form label{
    text-align: left;
    margin-left: 0%;
    color: var(--formInputColor);
}

#aggiungi_film textarea{
    font-size: 1em;
    resize: none;
}

.aggiungi-film-form-input-field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/*---------- Contenitori che contengono informazioni -----------*/
.info {
    padding: 2em 3em;
}

/*-----------screen reader only--------------*/
.sr-only {
    position: absolute;
    left: -9999px;
}

/*------------------BIGLIETTI------------------*/

#biglietti-container {
    font-size: 1em;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#nessun-biglietto {
    padding: 4em;
}

.biglietto {
    background-color: var(--AreaBgColor);
    padding: 1em;
    border-radius: 8px;
    margin: 1em auto;
    max-width: 40em;
}

/* ---------------------RECENSIONI---------------------- */
#main_recensioni{
    text-align: center;
    padding: 2em;
}

#form-recensione{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textarea-recensione{
    width: 80%;
    resize: none;
    margin: 1em;
    padding: 0.3em;
    font-size: 1em;
    font-family: var(--font-body_family);
    border-radius: 8px;
    border: 1px solid var(--borderColor);
}

#recensioni-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    text-align: left;
}

.recensione{
    width: 80%;
    height: auto;
    margin: 1em;
    background-color: var(--bgRecensioni);
    border: 1px solid var(--borderColor); 
    border-radius: 8px;
}

.utente{
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 1em;
    margin-top: 0.5em;
}

.data-recensione{
    font-size: 0.6em;
    font-style: italic;
    margin-left: 2em;
}

.content-recensione{
    margin: 1em 5%;
    font-size: 1em;
}

/*--------------------------MODIFICA UTENTE E MODIFICA FILM E ELIMINA FILM--------------------------*/

#modifica_film_container, #proiezioni_container, #modifica_utente_container {
    max-width: 60%;
    margin: auto;
    padding: 1em;
    text-align: center;
}

#seleziona-film, #seleziona-film fieldset,
#modifica-film-form, #modifica-film-form fieldset,
#modifica_utente_container form, #modifica_utente_container form fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

#seleziona-film fieldset,
#modifica-film-form fieldset,
#modifica_utente_container form fieldset{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 2em;
    border-radius: 8px;
    gap: 1em;
    width: 80%;
}

#modifica_utente_container form fieldset div{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#immagine_modifica {
    margin: 0.5em;
    width: 50%;
}

#locandina-modifica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#seleziona-film select,
#modifica_film_container select,
#modifica_film_container input,
#modifica_film_container textarea,
#modifica_utente_container input{
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid var(--borderInputColor);
    border-radius: 4px;
    background-color: var(--formInputBgColor);
    color: var(--formInputColor);
    font-size: 1em;
}

#modifica_film_container textarea{
    font-family: var(--font-body_family);
} 

/*--------------------PAGINA PRENOTA-----------*/
#container-prenotazione{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

#container-recap-biglietti{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em;
    flex-wrap: wrap;
}

#biglietto-recap-form{
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

#biglietto-recap-form fieldset{
    flex-direction: column;
    display: flex;
    border-radius: 8px;
    padding: 1em;
    text-align: center;
}

#titolo-biglietto{
    font-size: 1.8em;
    font-weight: bold;
}

#biglietto-recap-form input {
    width: 100%;
    padding: 1em;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    background-color: var(--formInputBgColor);
    color: var(--formInputColor);
    font-size: large;
    box-sizing: border-box;
}

#container-recap-prenotazione{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.biglietto-recap{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    background-color: var(--AreaBgColor);
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    margin: 1em auto;
    width: 15vw;
    min-width: fit-content;
}

.biglietto-recap-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.required {
    color: red;
    font-size: 1.5em; 
    font-weight: bold; 
    position: relative; 
    top: 0.4em; 
}