* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBgColor: #000000;
    --headerTxtColor: #f0f0f0;

    --breadcrumbBgColor: #292828;
    --breadcrumbTxtColor: #f0f0f0;

    --searchHeaderBg: #f0f0f0;

    --bgColorHome: #000000;
    --txtColorHome: #f0f0f0;
    --bgColor: #f0f0f0;
    --txtColor: #000000;

    --footerTitleColor: #ffffff;
    --footerBgColor: #292828;
    --footerTxtColor: #ffffff;

    --linkColor: #0294b9;
    --visitedLinkColor: #FF0000;

    --theadBgColor: #c5c5c5;
    --alternativeLine: #dddddd;
    --borderColor: #8b8b8b;
    --hoverColor: #0294b9;

    --font-body_family: "Century Gothic", sans-serif;

    --cinema_screen_color: #000000;
    --borderPostoColor: #c4c4c4;
    --postoSelezionatoColor: #48eb32;
    --postoLiberoColor: rgb(255, 255, 255);
    --postoOccupatoColor: rgb(155, 155, 155);

    --bgRecensioni: #dddddd;

    --buttonColor: #e50914;

    /*Colori Form */
    --formBackground : #212121;
    --labelColor :#8c8c8c;
    --formFieldSetColor :#181818;
    --formInputColor : #333333 ;
    --formSubmitColor :#e50914;
}

html {
    font-size: 100%;
    font-family: var(--font-body_family);
    line-height: 1.5em;
    margin: auto;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    max-width: 1800px;
    margin: auto;
}

#logo{
    width: 9em;
    height: auto; 
}
/*
header h1 {
    text-indent: -999em;
    background-image: url("../images/logo1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width: 200px;
    height: 100px;
    max-width: 1800px;
}
*/
body{
    max-width: 1800px;
    background-color: var(--bgColor);
    color: var(--txtColor);
    margin: auto;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    margin-top: 0.7em;
    margin-bottom: 0.2em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main {
    margin: auto;
    line-height: 1.5;
}

h3{
    margin: 1em;
}

nav {
    color: var(--headerTxtColor);
}

/*--------------LINK-------------*/
a:link {
    color: var(--linkColor);
}

a:visited {
    color: var(--visitedLinkColor);
}

/*-------------TABELLE-----------*/
table {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    white-space: nowrap;
}

thead {
    background-color: var(--theadBgColor);
    color: var(--txtColor);
}

th, td {
    border: 1px solid var(--borderColor);
    padding: 0.5em;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .table-flip {
        display: flex;
        flex-direction: row;
    }

    .tr-flip {
        display: flex;
        flex-direction: column;
    }
}

tbody tr:nth-child(even) {
    background-color: var(--alternativeLine);
}

tbody tr:nth-child(odd) {
    background-color: var(--bgColor);
}

.table-container {
    overflow: auto;
}

/*-------------MENU E BREADCRUMB------------*/
/*  */
#menu ul {
    list-style-type: none;
}

#menu ul li {
    margin: 0 1em;
    display: inline-block;
}

#breadcrumb {
    background-color: var(--breadcrumbBgColor);
    color: var(--headerTxtColor);
    padding: 1em;
    margin: auto;
    max-width: 1800px;
}

/*SEARCH*/
#searchHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--searchHeaderBg);
    padding: 1em;
    margin: auto;
}

#search-form {
    margin-right: 1em;
    border: none;
}

#search-form input[list] {
    height: 1em;
    width: 17em;
    padding: 1em;
    font-size: 0.8em;
}


#search-form input[type="submit"] {
    padding: 1em;
    background-color: var(--visitedLinkColor);
    color: var(--headerTxtColor);
}

#field-set-posti{
    border: none;
    width: 100%;
}

#film-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    gap: 2em;
    text-align: center;
    color: var(--txtColorHome);
    background-color: var(--bgColorHome);
    padding: 1em;
    margin: auto;
}

.film-image {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.film-image:hover {
    transform: scale(0.9);
    /* Ingrandisce l'elemento del 10% al passaggio del mouse */
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    max-width: 1800px;
    padding: 1em;
    margin: auto;
}

/* Stile per ciascuna colonna nel footer */
footer>div {
    flex: 1;
    padding: 1em 2em;
    text-align: center;
}

footer .footer-title {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--footerTitleColor);
    margin-bottom: 1em;
}

footer ul {
    list-style-type: none;
}

footer li {
    margin-bottom: 1em;
}

.bold-text {
    font-weight: bold;
    color: var(--txtColor);
    font-size: 1.1em;
}

/*Template_film*/
#film-informazioni-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--bgColor);
    color: var(--txtColor);
    align-items: center;
    /* max-width: 1200px;*/
    padding: 1em;
    margin: auto;
}

#film-dettagli h1 {
    padding: 0.2em;
    background-color: var(--visitedLinkColor);
    color: var(--bgColor);
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    line-height: 1;
    /*L'ho aggiunto perche' se titolo troppo lungo*/
}

#film-locandina img {
    min-width: 60%;
    padding: 1em;
    margin: auto;
}

#film-dettagli {
    max-width: 70%;
}

.orari-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
    border: 1px solid var(--txtColor);
    border-radius: 8px;
    padding: 0.4em;
    margin: auto;
}

/*  */
.film-data, .film-ora {
    padding: 0.4em;
    font-weight: bold;
    font-size: 1.1em;
}

.film-ora {
    font-family: 'architectural', 'cursive', sans-serif;
}
/*  */

#title-date-time h2 {
    margin-bottom: 0.5em;
}

/**/

/*------------ERRORI DISPONIBILITA'-------------*/
.div-non-esiste {
    align-items: center;
    text-align: center;
    padding: 1em;
}

.immagine-indisponibilità {
    width: 200px;
    height: 200px;
    background-image: url("../images/error-film.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
/* usato ? */
#film-name-error {
    color: var(--visitedLinkColor);
    font-weight: bold;
    font-size: 1.3em;
    background-color: var(--bgColor);
    padding: 0.3em;
    border-radius: 5px;

}

/* ----------locandina nella pagina selezione posti------------- */
#container-pagina-selezione-posti{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
}

#locandina-title {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 5%;
}

#locandina-title img {
    margin-left: 5%;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    max-width: 10em;
    height: auto;
}

/* usato ? */
#data-ora {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;

}

/* usato ? */
#data-ora ul {
    list-style-type: none;
}

/*----------------POSTI----------------*/
#film-posti {
    text-align: center;
    padding: 1em;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 70%;
    flex-grow: 1;
}

#cinema-screen {
    width: 60%;
    height: 8em;
    padding: 0.5em;
    background-color: black; /* Colore di sfondo nero */
    background-image: url('../images/logo1.png'); /* Aggiungi un'immagine di cinema come sfondo */
    background-size: contain; /* Ridimensiona l'immagine per adattarsi all'interno */
    background-repeat: no-repeat;
    background-position: center; /* Centra l'immagine */
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-bottom: 2em;
    margin-top: 1em;
    border: 10px solid black; /* Aggiungi una cornice nera */
}



#form-posti{
    display: flex;
    align-items: center;
    justify-content: left;
    margin:auto;
    overflow: auto;
}

#posti-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-bottom: 1em;
    width: 100%;
}

.fila-posti{
    display: flex;
    flex-wrap: nowrap;
    gap: 0.1em;
    list-style: none;
    width: 100%;
    align-items: center;
}

.fila-posti li{
    flex: 1 1 2em;
    margin: 0.2em;
}

.label-posto, .legenda-item {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: auto;   
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid var(--borderPostoColor);
}

.label-posto:hover, input[type="checkbox"]:focus + .label-posto{
    border: 2px solid var(--linkColor);
}

.legenda-item{
    cursor: auto;
    width: 2em;
    height: 1.6em;
}

/* Posto libero */
input[type="checkbox"]:not(:checked) + .label-posto, #libero{
    background-color: var(--postoLiberoColor);
}

/* Posto selezionato */
input[type="checkbox"]:checked + .label-posto, #selezionato {
    background-color: var(--postoSelezionatoColor);
}

/* Posto non disponibile */
input[type="checkbox"]:disabled + .label-posto, #occupato {
    background-color: var(--postoOccupatoColor);
}

.hidden-checkbox {
    position: absolute;
    left: -9999px;
}

#legenda{
    display: grid;
    justify-content: center; 
    margin-bottom: 2em;
}

.legenda-div{
    display: flex;
    align-items: center;
}

.desc-item-legenda, .legenda-item{
    margin: 0.2em;
}

/*-------------------500 e 404---------------------*/
#error-container {
    width: 80%;
    margin: 0.4em auto;
    padding: 1em;
    background-color: var(--bgColor);
    color: var(--txtColor);
    text-align: center;
}

#error-container p {
    margin: 0.6em 0;
    line-height: 1.6em;
    color: var(--txtColor);
    font-size: 1.3em;
}

#immagine-errore-500-404 {
    width: 10em;
    height: 10em;
    background-image: url("../images/error.png");
    background-size: contain;
    background-repeat: no-repeat;

}

#imgError-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#goToMenu {
    display: none;
}

#bottomMenu {
    display: none;
}

#prenota-button {
    background-color: var(--linkColor);
    color: var(--txtColorHome);
    padding: 0.7em 1em;
    border-radius: 5px;
    margin-bottom: 2em;
}

/*login e Signin*/
#login-container , #signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

#login , #signin {
    display: flex;
    flex-direction: column;
    padding: 1em 7em 1em 7em;
    background-color: #181818;
    border-radius: 8px;
    text-align: center;
}

#login h2 , #signin  h2 {
    color: var(--txtColorHome);
    margin-bottom: 1em;
}

#login label , #signin label{
    color: #8c8c8c;
    font-size: 20px;
}

#login form , #signin form {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

#login input , #signin input {
    width: 15em;
    padding: 1em;
    border: none;
    border-radius: 4px;
    background-color: #333333;
    color: #fff;
    font-size: 20px;

}

#login input[type="submit"] , #signin input[type="submit"]  {
    width: 18em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border: none;
    border-radius: 4px;
    background-color: #e50914;
    color: #fff;
    font-size: 18px;
}

#login p, #signin p {
    color: var(--txtColorHome);
}

#login fieldset , #signin fieldset {
    border-radius: 8px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1em;
}

#signin fieldset .signin-personal-container{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.login-item-container , .signin-item-container {
    display: flex;
    flex-direction: column;
}

#login legend, #signin legend {
    color: var(--txtColorHome);
    padding: 0.3em;
}

#signin p.signin-error, #signin p.signin-success{
    font-weight: bold;
}

/*admin section*/
#adminArea {
    background-color: var(--bgColor);
    padding: 2em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#adminArea h2 {
    text-align: center;
    margin-bottom: 1em;
    color: var(--txtColor);
    font-size: 1.8em;
}

#adminMenu {
    background-color: #fff;
    max-width: 28em;
    margin: auto;
    border-radius: 8px;
}

#adminMenu ul {
    list-style-type: none;
    padding: 0;
}

#adminMenu ul li {
    margin: 1em;
    text-align: center;
}

#adminMenu ul li a {
    display: block;
    padding: 1em;
    font-size: 1.2em;
}

#logoutForm button, #invia-recensione-button {
    padding: 1em;
    margin: 1em;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: var(--buttonColor);
    color: #fff;
}

#invia-recensione-button:hover, #invia-recensione-button:focus {
    border: 2px solid var(--hoverColor);
    transition: ease-in;
}
/*aggiungi proiezione*/
#aggiungi_proiezione , #aggiungi_film{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--formBackground);
    color: var(--txtColor);
    text-align: center;
    padding: 1em;
}
#aggiungi_proiezione h2,  #aggiungi_film  h2, legend{
    padding: 0.5em;
    color: var(--txtColorHome)
}
#aggiungi_proiezione select,#aggiungi_proiezione input[type="date"], #aggiungi_proiezione input[type="time"],#aggiungi_proiezione input[type="submit"] ,
#aggiungi_film select,#aggiungi_film input , #aggiungi_film textarea{
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: var(--formInputColor);
    color: #ffffff;
    font-size: large;
    box-sizing: border-box;
}

#aggiungi_proiezione input[type="submit"], #aggiungi_film input[type="submit"] {
    background-color: var(--buttonColor);
}


/* Stili per aggiungi film  */


#aggiunta-film-form , #aggiunta-proiezione-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
}

#aggiungi-film-form-field{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

#aggiunta-film-form fieldset, #aggiungi_proiezione fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2em;
    border-radius: 8px;
    gap: 2em;
    background-color: var(--formFieldSetColor) ;
    width: 80%;

}

#aggiunta-film-form label, #aggiunta-proiezione-form label{
    text-align: left;
    color: var(--labelColor);
}



#aggiungi_film textarea{
    font-size: 1em;
    resize: none;
    height: 8em;
}
.aggiungi-film-form-input-field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


/*  */

/*---------- Contenitori che contengono informazioni -----------*/
.info {
    padding: 2em 3em;
}

/*-----------screen reader only--------------*/
.sr-only {
    position: absolute;
    left: -9999px;
}

/*  */

#biglietti-container {
    background-color: #181818;
    font-size: 1em;
    color: #333;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#biglietti-container h2 {
    color: #e50914;
}

#nessun-biglietto {
    color: #fff;
    padding: 4em;
}

.biglietto {
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    margin: 1em auto;
    max-width: 40em;
}

/* ---------------------RECENSIONI---------------------- */
#main_recensioni{
    text-align: center;
    padding: 2em;
}

#form-recensione{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textarea-recensione{
    width: 80%;
    resize: none;
    margin: 1em;
    font-size: 1em;
    font-family: var(--font-body_family);
    border-radius: 8px;
    border-color: var(--borderColor);
}

#recensioni-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    text-align: left;
}

.recensione{
    width: 80%;
    height: auto;
    margin: 1em;
    background-color: var(--bgRecensioni);
    border: 1px solid var(--borderColor); 
    border-radius: 8px;
}

.utente{
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 1em;
    margin-top: 0.5em;
}

.data-recensione{
    font-size: 0.6em;
    font-style: italic;
    margin-left: 2em;
}

.content-recensione{
    margin: 1em 5%;
    font-size: 1em;
}

/*modifica film*/

#modifica_film_container, #proiezioni_container, #modifica_utente_container {
    max-width: 60%;
    margin: auto;
    padding: 1em;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#modifica_film_container h2, #modifica_utente_container h2{
    text-align: center;
    margin-bottom: 1em;
    color: var(--txtColor);
    font-size: 1.8em;
}

#modifica_film_container input[type="submit"],
#modifica_utente_container input[type="submit"],
#proiezioni_container input[type="submit"] {
    width: 10em; 
    background-color: #e50914;
    color: #fff;
    padding: 0.5em 1em; /* Riduci il padding per rendere il pulsante più piccolo */
    font-size: 14px; /* Riduci la dimensione del testo */
    margin: 1em;
}

#immagine_modifica {
    margin: 0.5em;
    width: 7em;
}

#locandina-modifica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#modifica_film_container select,
#modifica_film_container input,
#modifica_film_container textarea,
#modifica_utente_container input{
    width: 100%; 
    padding: 0.5em;
    background-color: #333333;
    color: #ffffff;
    font-size: large;
    box-sizing: border-box;
    margin: auto;
}

#modifica_film_container textarea{
    font-size: 1.6em;
}

#ora-container{
    display: flex;
}


/*---------- Pagina Prenota -----------*/

#container-prenotazione{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#container-recap-biglietti{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: space-around;
    align-items: center;
    padding: 3em;
    flex-wrap: wrap;
}

#biglietto-recap-form{
    display: flex;
    flex-direction: column;
    padding: 1em;
    min-width: 20em;
    gap: 1em;
}

#biglietto-recap-form fieldset{
    flex-direction: column;
    display: flex;
    border-radius: 8px;
    padding: 1em;
}

#biglietto-recap-form fieldset label{
}

#biglietto-recap-form input {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    font-size: large;
    box-sizing: border-box;
}
#biglietto-recap-form input[type="submit"] {
    background-color: #e50914;
}

#container-recap-prenotazione{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.biglietto-recap{
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid var(--borderPostoColor);
    margin: 1em auto;
    width: 15vw;
    min-width: fit-content;
}

.biglietto-recap-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.required {
    color: red;
    font-size: 2em; /* Aumenta la dimensione del carattere */
    font-weight: bold; /* Rendi il testo in grassetto */
    position: relative; /* Assicura che l'elemento sia posizionato in base alle coordinate relative al suo contenitore */
    top: 0.4em; /* Sposta leggermente l'asterisco verso l'alto per centrarlo verticalmente */
}

